<h1><%= @genre.name %></h1>
<% if @user.super_admin? %>
  <div class="row">
    <%= link_to 'Edit', edit_genre_path(@genre) %>
  </div>
<% end %>
<%= render 'partials/movies', movies: @movies, user_reviews: @user_reviews, pagy: @pagy %>
