<section class="wow fadeInUp">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-sub-title textcenter">
                    <h2>About</h2>
                    <div class="line"></div>
                </div><!-- end .page-sub-title -->
            </div><!-- end .col-xs-12 -->
            <div class="title-area">
                <h2 class="tittle">HitchRide at a Glance</h2>
                <span class="tittle-line"></span>
                <p>HitchRide is a trusted community marketplace that connects drivers with empty seats to passengers looking for a ride. HitchRide's goal is to create an entirely new, people empowered, transport network. With a dedicated customer service, a state of the art web platform, and a fast-growing community of users, HitchRide is making traveling more social, money-saving and more efficient for millions of members.</p>
            </div>
            <div class="blog-content">
                <!-- <p>
                    HitchRide is a ride-sharing marketplace connecting regular people making similar trips so everyone benefits: the driver, the passenger, society and the environment. HitchRide allows participants to reduce their travel costs, meet new friends and conveniently reach their destination, all in a super simple, cool, and environmentally friendly way. We believe that we can make traveling more fun, one shared car ride at a time and help save the planet while we’re at it!
                </p> -->
                <hr>
                <!-- <p>HitchRide was born one Christmas, when founder Sunjay Dhama, a student at Stanford, wanted to get home to his family in the Bay Area. He had no car. The trains were full. The roads, too, were full of people driving home, alone in their car. It occurred to him that he should try and find one of the drivers going his way and offer to share petrol costs in exchange for use of an empty seat. He thought he could do it online, but no such site existed... The adventure had begun!</p> -->
                <hr>
            </div>
        </div>
    </div>
</section>


<!-- Start Team action -->
<section id="team">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="team-area">
                    <div class="title-area wow fadeInUp">
                        <h2 class="tittle">Meet our team</h2>
                        <span class="tittle-line"></span>
                        <p>We are a group of university friends who wanted to contribute and improve the life of society by making a web platform which gives flexible travel options, saves money, reduces pollution and heps people find new friends.</p>
                    </div>
                    <!-- Start team content -->
                    <div class="team-content wow fadeInUp">
                        <ul class="team-grid">
                            <li>
                                <div class="team-item team-img-1">
                                    <div class="team-info">
                                        <p> I play to win, whether during practice or a real game.</p>
                                        <a href="https://www.facebook.com/sdsunjay"><span class="fa fa-facebook"></span></a>
                                        <!-- <a href="#"><span class="fa fa-twitter"></span></a> -->
                                        <a href="https://www.linkedin.com/in/sdsunjay"><span class="fa fa-linkedin"></span></a>
                                    </div>
                                </div>
                                    <div class="team-address">
                                        <p>Sunjay Dhama</p>
                                        <span>Co-founder &amp; Lead Software Engineer</span>
                                </div>
                            </li>
                            <li>
                                <div class="team-item team-img-3">
                                    <div class="team-info">
                                        <p> Simplicity is the ultimate sophistication.</p>
                                        <a href="https://www.facebook.com/lifeiscontent"><span class="fa fa-facebook"></span></a>
                                        <!-- <a href="#"><span class="fa fa-twitter"></span></a> -->
                                        <a href="https://www.linkedin.com/in/lifeiscontent"><span class="fa fa-linkedin"></span></a>
                                    </div>
                                </div>
                                <div class="team-address">
                                    <p>Aaron Reisman</p>
                                    <span>Technical Advisor</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- End team content -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Team action -->
<!-- Start Benefits action -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <br/>
                <br/>
                <div class="title-area wow fadeInUp">
                    <h2 class="tittle">Life is better when you share the ride.</h2>
                    <span class="tittle-line"></span>
                </div>
                <div class="process">
                    <div class="process-row">
<!--                                 <div class="process-step col-md-3 textcenter">
                            <span class="fa-stack fa-3x">
                                <i class="fa fa-briefcase fa-stack-1x icon-foreground"></i>
                            </span>
                            <h4>Employer Benefits</h4>
                            <ul class="list-group feature-list format-margin-right">
                                <li class="list-group-item">
                                    <i class="fa fa-check"></i>
                                    Relieves parking congestion
                                </li>
                                <li class="list-group-item">
                                    <i class="fa fa-check"></i>
                                    Increased employee productivity
                                </li>
                                <li class="list-group-item">
                                    <i class="fa fa-check"></i>
                                    Reduction in traffic at the worksite
                                </li>
                                <li class="list-group-item">
                                    <i class="fa fa-check"></i>
                                    Unique employee benefit
                                </li>
                                <li class="list-group-item">
                                    <i class="fa fa-check"></i>
                                    Solution for office relocation
                                </li>
                            </ul>
                        </div> -->
                        <div class="process-step col-md-4 textcenter wow fadeInUp">
                            <span class="fa-stack fa-3x">
                                <!-- <i class="fa fa-circle fa-stack-2x icon-background"></i> -->
                                <i class="fa fa-users fa-stack-1x icon-foreground"></i>
                            </span>
                            <h4>Community Benefits</h4>
                            <ul class="list-group feature-list format-margin">
                                <li class="list-group-item">
                                    <i class="fa fa-check"></i>
                                    Save time
                                </li>
                                <li class="list-group-item">
                                    <i class="fa fa-check"></i>
                                    Save money
                                </li>
                                <li class="list-group-item">
                                    <i class="fa fa-check"></i>
                                    Reduce stress
                                </li>
                                <li class="list-group-item">
                                    <i class="fa fa-check"></i>
                                    Reduce carbon footprint
                                </li>
                            </ul>
                        </div>
                        <div class="process-step col-md-4 textcenter wow fadeInUp">
                            <span class="fa-stack fa-3x">
                                <!-- <i class="fa fa-circle fa-stack-2x icon-background"></i> -->
                                <i class="fa fa-building fa-stack-1x icon-foreground"></i>
                            </span>
                            <h4>University Benefits</h4>
                            <ul class="list-group feature-list format-margin">
                                <li class="list-group-item">
                                    <i class="fa fa-check"></i>
                                    Reduced parking needs and campus traffic
                                </li>
                                <li class="list-group-item">
                                    <i class="fa fa-check"></i>
                                    Reduction in CO2 emissions
                                </li>
                                <li class="list-group-item">
                                    <i class="fa fa-check"></i>
                                    Unique student benefit
                                </li>
                                <li class="list-group-item">
                                    <i class="fa fa-check"></i>
                                    Solution to reducing student cars to campus
                                </li>
                                <li class="list-group-item">
                                    <i class="fa fa-check"></i>
                                    Perfect complement to campus shuttles, bike and car sharing programs
                                </li>
                            </ul>
                        </div>
                        <div class="process-step col-md-4 textcenter wow fadeInUp">
                            <span class="fa-stack fa-3x">
                                <!-- <i class="fa fa-circle fa-stack-2x icon-background"></i> -->
                                <i class="fa fa-graduation-cap fa-stack-1x icon-foreground"></i>
                            </span>
                            <h4>Student Benefits</h4>
                            <ul class="list-group feature-list format-margin-left">
                                <li class="list-group-item">
                                    <i class="fa fa-check"></i>
                                    Save time
                                </li>
                                <li class="list-group-item">
                                    <i class="fa fa-check"></i>
                                    Save money
                                </li>
                                <li class="list-group-item">
                                    <i class="fa fa-check"></i>
                                    Meet fellow students
                                </li>
                                <li class="list-group-item">
                                    <i class="fa fa-check"></i>
                                    Great for getting home for holidays, weekend trips, getting to campus everyday
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
</section>
<!-- End Benefits action -->
<!-- Start call to action -->
<section id="call-to-action">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="call-to-content wow fadeInUp">
                    <div class="title-area">
                        <h2 class="tittle" style="color: #3a3a3a">Share your journey</h2>
                        <span class="tittle-line"></span>
                    </div>
                    <%= link_to raw('<span>NEW MOVIE</span>'), new_movie_path(), class: 'button button-default', 'data-text': 'NEW MOVIE' %>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End call to action -->
<div class="container page-wrapper"><img src="/img/awesomo.188ccb2.jpg" class="awesomo"> <div class="title-bar"><h1>About Movix</h1></div> <div class="about-nav"><span><span class="delim" style="display: none;">•</span> <a href="/about" class="router-link-exact-active router-link-active">About</a></span><span><span class="delim">•</span> <a href="/press" class="">Press</a></span><span><span class="delim">•</span> <a href="/faq" class="">FAQ</a></span><span><span class="delim">•</span> <a href="/api" class="">API</a></span></div> <h2>What is Movix</h2> <p>Movix is a movie recommendation service based on artificial intelligence and Deep Learning. Click movies and tags you like and the system will do the rest — in a few clicks, Movix adapts to your preferences and gives you movies worth watching.</p> <h2>How is this different from other recommedation engines</h2> <p>Unlike other services, we don't require registration or long history of films you have watched before. Your taste, mood and preferences change every day and we understand that — so every recommendation is completely new! Just click a few movies you would like to watch right now and we will find your movie.</p> <h2>What's inside</h2> <p>We have designed our own custom Neural Network architecture based on LSTM. It’s built on top of Ternsorflow framework from Google and runs on GPU. Unlike other engines, we have no precalculated recommendations — every click is being processed on our servers.</p> <h2>Why we started Movix</h2> <p>Here at <a href="https://deepsystems.io" target="_blank">Deep Systems</a> we are a big fans of artificial intelligence and good cinema. After some evenings looking for a nice movie to watch, we decieded to create a service we would like and use.</p> <p>We hope, you would love Movix too!</p></div>


<div class="container page-wrapper"><img src="/img/awesomo.188ccb2.jpg" class="awesomo"> <div class="title-bar"><h1>Tips &amp; tricks</h1></div> <div class="about-nav"><span><span class="delim" style="display: none;">•</span> <a href="/about" class="">About</a></span><span><span class="delim">•</span> <a href="/press" class="">Press</a></span><span><span class="delim">•</span> <a href="/faq" class="router-link-exact-active router-link-active">FAQ</a></span><span><span class="delim">•</span> <a href="/api" class="">API</a></span></div> <h2>I want to upload my ratings for every movie i have watched</h2> <p>When we designed Movix, we tried to make our service give awesome recommedations even if you don't rate tons of movies. Try to enter a few movies, that are similar to what you want to watch right know — it's the best way to interact with Movix. But you can still save your ratings in <a href="/collections" class="">Collections</a>.</p> <h2>I look for rare films</h2> <p>If you want to see less popular movies, just search for tag "Rare". You can also use tags "Not popular" and "Very popular".</p> <h2>I look for old movies</h2> <p>It is possible to filter recommedations by year of release. Select interesting decades on the right side under label "Years". You can select multiple decades.</p> <h2>The order of movies is important</h2> <p>Our neural network consider movies and tags in input more important, if they are placed closer to the end. If you want to change priority, just drap and drop movie in input.</p> <h2>I don't interested in superheroes movies. Can i drop them?</h2> <p>Yes. If don't want to see some movies, dislike tag that describes film the best. The opposite is possible too — like tags if want to see more movies on that topic.</p></div>
