<title>
  Terms Of Use
</title>

<section>
  <div class="container">
    <div class="row">

      <div class="col-xs-12">

        <div class="page-sub-title textcenter">
          <h2>Terms Of Use</h2>
          <div class="line"></div>
        </div>
        <!-- end .page-sub-title -->

      </div>
      <!-- end .col-xs-12 -->

      <div class="col-xs-12">
        <h5 style="color: #636363">
          <i>Last updated on November 14, 2018</i>
        </h5>

        <p style="margin-top:30px;">
          <b>Please read these Terms of Use carefully before using this Website. Your accessing or use of this Website and/or completing the registration, as well as your agreements to participate in reviewing movies on Movie Recommendations With ML, confirms your unconditional acceptance of the following Terms of Use. If you do not accept each and every of these Terms of Use, do
            <strong>not</strong>
            use this Website.</b>
        </p>

        <h4 class="terms_privacy_heading">1. Definitions and general information regarding this terms of use</h4>

        <div class="terms_privacy_body">
          <p>These Terms of Use include, and incorporate herein, Movie Recommendations With ML's
            <a><%= link_to "Pivacy Policy", privacy_path %></a>. You are responsible for familiarizing yourself with the contents of this document.</p>

          <p>These Terms of Use may change from time to time. If we make what we consider in our discretion to be a significant change to this site, we will send a notice to the email address registered in your account, or by placing a prominent notice on the
            Website. Significant changes shall not take effect for at least thirty (30) from the date we first deliver or post a notice. All changes other than significant changes shall take effect immediately upon posting of the updated document on our
            <a href="https://movierecommendtionswithml.com/">Website</a>. You should periodically check the Website for updates. Any use of the Website or the Services by you after the effective date of any changes will constitute your acceptance of such
            changes. If you fail to re-review these Terms of Use as required to determine if they have changed, you assume all responsibility for such omissions.</p>

          <p>For the purposes of this Agreement:</p>

          <p>
            <b>“Inappropriate Information”</b>
            shall mean any unlawful, threatening, defamatory, libelous, obscene, pornographic or profane communication or material or any communication or material that could constitute or encourage conduct that would be considered a criminal offense or give
            rise to civil liability, or infringe the rights of any third party, or otherwise violate any law.</p>

          <p>
            <b>“Movie Recommendations with ML”</b>
            shall mean Movie Recommendations with ML. Any use of first-person pronouns such as “we”, “us”, “our”, or “ours” refer to Movie Recommendations with ML.</p>

          <p>
            <b>“Services”</b>
            shall mean, individually and collectively, the services offered by Movie Recommendations with ML via the Website.</p>

          <p>
            <b>“User”</b>
            shall mean any person who registers on the Website or uses Services offered by Movie Recommendations with ML via the Website. Users may be referred to below using second-person pronouns such as “you”, “your” or “yours.”</p>

          <p>
            <b>“Website”</b> shall mean <a href="https://movierecommendtionswithml.com/">https://movierecommendtionswithml.com</a>
          </p>
        </div>

        <h4 class="terms_privacy_heading">2. An introduction to Website services</h4>

        <div class="terms_privacy_body">
          <p>Below is a list of some of the important things we do and don’t do.</p>

          <p>
            <b>What we do:</b>
          </p>

          <ul>
            <li>We provide a platform via our Website for users who register with us (collectively, “Users”) to review movies.</li>
            <li>We assist users in posting and displaying information about themselves to our website.</li>
            <li>We provide movie recommendations to users based upon their reviews and the reviews of other users</li>
            <li>We may remove from our site any Inappropriate Information when we become aware of it.</li>
            <li>We make use of the <a href='https://www.themoviedb.org/documentation/api'>TMDb API</a> and <a href='https://developers.facebook.com'>Facebook API</a></li>
          </ul>

          <p>
            <b>What we don't do:</b>
          </p>

          <ul>
            <li>We are not a movie streaming service. We do not provide or arrange for users to view or access movies.</li>
            <li>Users who offer content or suggestions for content on our Website are not employees or agents of us and have no authority to act or speak on our behalf.</li>
            <li>We do not inspect or investigate any Users, nor do we make any representations or warranties in that regard.</li>
            <li>We make no assurances regarding the timing, duration, quality of the movies or the movie recommendations.</li>
            <li>We do not verify or in any way express an opinion with respect to the truth or accuracy of information provided by Users in their User Profiles.</li>
            <li>We do not express any opinion, nor do we make any assurances regarding, the truth or accuracy of any User reviews or ratings.</li>
            <li>We do not remove reviews, unless they contain Inappropriate Information.</li>
            <li>We do not set prices for movies or movie tickets or movie streaming services.</li>
            <li>We are not affiliated with <b>any</b> movie streaming or downloading website or service</li>
          </ul>
        </div>

        <h4 class="terms_privacy_heading">3. Eligibility to use the website</h4>

        <div class="terms_privacy_body">
          <p>In consideration for using our Services, you must meet the following requirements and agree to the following:</p>

          <ul>
            <li>You must be at least thirteen (13) years of age. No one under the age of 13 is permitted to become a User or otherwise review a movie without their parent or legal guardian’s consent.</li>
            <li>You hereby agree: (i) to always provide current and accurate information about yourself, (ii) to promptly update and maintain your information with us, and (iii) that upon accessing the Website by any means and in any part of this Website’s
              interface and/or completing the registration process on the Website, you agree to the terms and conditions set forth in these <a href='#'>Terms of Use</a> and have electronically signed this agreement per the <a href="https://en.wikipedia.org/wiki/Electronic_Signatures_in_Global_and_National_Commerce_Act">U.S. E-Sign Act of
              2000</a>.</li>
            <li>You hereby warrant and represent that:
              <ul>
                <li>You have the right, authority and capacity to enter into these <a href='#'>Terms of Use</a> and you shall abide by all of the terms and conditions hereof;</li>
                <li>You fully disclose all relevant and accurate details in the &#34;Account&#34; section.</li>
                <li>You are not restricted by court order or terms of parole from viewing or reviewing movies.</li>
              </ul>
            </li>
          </ul>

          <p>If you do not meet any of these requirements, or provide information that is out-of-date, untrue, inaccurate, incomplete or a breach of these warranties and representations, or we have reasonable grounds to suspect that your information is not
            current, untrue or accurate or a breach of these warranties and representations, we may, with full reservation of all rights and remedies, exercise our right to <b>terminate or suspend</b> your access to the Website without warning.</p>
        </div>

        <h4 class="terms_privacy_heading">4. Rules of conduct for using the services</h4>

        <div class="terms_privacy_body">
          <p>The following activities are strictly prohibited in connection with use of the Website or any services provided in connection therewith</p>

          <ul>
            <li>Harassment in any manner or form (including, without limitation, “stalking” as that term may be defined by applicable law), including via use of the Website, e-mail, chat, or by use of obscene or abusive language;</li>
            <li>Using the platform as a means to generate income of any kind;</li>
            <li>Impersonation of others, including a Website or other licensed employee, host, or representative, as well as other members or visitors on this Website;</li>
            <li>Uploading to the web site, distributing, copying, or using any materials that violate the copyrights, trademarks, or other intellectual property rights of Website, or any third party;</li>
            <li>Uploading to the web site, distributing, copying or using the existing Website content or otherwise publishing through this Website or other third party sites any Inappropriate Information;</li>
            <li>Uploading to the web site commercial content on the Website or using the Website to solicit others to join or become members of any other commercial online service or other organization;</li>
            <li>Stating or implying that any statement made or conduct undertaken by you is endorsed or approved by us without our prior express written consent;</li>
            <li>Stealing and/or replicating movies in other platforms, sites, apps or listing services;</li>
            <li>Soliciting other Users to use or purchase any other goods or services;</li>
            <li>Use of any robot, spider, site search/retrieval application, or other manual or automatic device or process to retrieve, index, "data mine", or in any way reproduce or circumvent the navigational structure or presentation of the Website or its
              contents;</li>
            <li>Removal of any copyright, trademark or other propriety rights notice appearing on the Website;</li>
            <li>Transmission of any material that contains software viruses or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of any computer software or hardware or telecommunications equipment;</li>
            <li>Forgery of headers or other manipulation of identifying information in order to disguise the origin of any information transmitted via the Website;</li>
            <li>Using technology in any matter without our prior express written authorization in order to direct any person away from our Website to another website for any purpose;</li>
            <li>Modification, adaptation, sublicensing, translation, sale, reverse engineering, deciphering, decompiling or otherwise disassembling any portion of the Website, or causing others to do so;</li>
            <li>Transfer or sale of your account to another party, or use of your account by any third party.</li>
          </ul>
        </div>

        <h4 class="terms_privacy_heading">5. Ratings and reviews</h4>

        <div class="terms_privacy_body">
          <p>By registering via our Website, you agree and acknowledge that movies you have reviewed may be subject to reviews and ratings by other Users. You agree and acknowledge that we will not edit or curate such reviews and ratings, we do not ensure
            their accuracy, and are not responsible for their content</p>
        </div>

        <h4 class="terms_privacy_heading">6. Privacy</h4>

        <div class="terms_privacy_body">
          <p>We only use your information as described in the
            <%= link_to "Privacy Policy", privacy_path %>. We consider protection of your privacy to be very important to sustaining our community. We store and process your information on computers located in the United States and elsewhere that are protected
              by physical as well as technological security devices. If you object to your information being transferred or used in this way, please do not use our Website.</p>
        </div>

        <h4 class="terms_privacy_heading">7. Use of your personal information</h4>

        <div class="terms_privacy_body">
          <p>In using the Website, you may from time to time post, provide, publish or display information about yourself, including, without limitation, information contained in your Facebook profile, including your name, profile picture, e-mail
            address, birthday, age, gender, and your hometown (“Facebook Profile Information”), (collectively with your Facebook Profile Information, “Personal Information”). Your Personal Information will be stored on our servers. You consent to our using your Personal Information for any purpose consistent with the purpose of the Website, including without
            limitation, (i) creation of User account that will allow you to use the services of the Website, and (ii) providing that information to affiliates, researchers, or employees of ours. We will never profit or sell your data to any third-party. You agree and acknowledge that you are solely
            responsible for your Personal Information. You further agree and acknowledge that we act solely as a passive conduct for your online posting, providing, publishing or display of your Personal
            Information. You agree to provide us only with accurate, current and complete information as prompted by our registration process and to maintain and timely update your Personal Information to keep it accurate, current and complete at all times
            during the Term of the Agreement. You agree that we may rely on your Personal Information as accurate, current and complete. You acknowledge that if your Personal Information is untrue, inaccurate, not current or incomplete in
            any respect, we have the right to terminate your access to the Website. You may have your User Profile removed by contacting us as set forth in our “Additional Assistance” section below.</p>
        </div>

        <h4 class="terms_privacy_heading">8. Access to information you provide as part of your user profile</h4>

        <div class="terms_privacy_body">
          <p>In order to register with this website, you will be required to provide us your Facebook Profile Information. You agree and acknowledge that we can use your Facebook Profile Information under the terms and conditions set forth in our <%= link_to "Privacy Policy", privacy_path %></p>

          <p>As part of setting up your User Profile on this website, you may provide us with access to information and materials that you obtain either from: (i) third party providers of information concerning your background, including without limitation,
            background checks, motor vehicle records search results, federal and state courthouse search records (collectively, “Background Records”), and/or (ii) you accounts on third party web sites, including social media sites (“Social Media Content”). If
            you do, you hereby represent and warrant that you are entitled and authorized to disclose such Background Records and Social Media Content to us, that such disclosure does not violate the Terms of Use or any other policies of such third-party sites,
            and does not require us to pay any amounts for such information. You understand and agree that we may access, make available and store any Background Records or Social Media Content you have provided so that it is available on and
            through Website and the App through your account. All Background Records and Social Media Content you provide will be treated as your Personal Information. Please note that your relationship with the third party service providers associated with your
            third party accounts is governed solely by your agreement(s) with such third party service providers. We make no effort to review any Background Records or Social Media Content for any purpose, including but not limited to, for accuracy, legality or
            non-infringement, and we are not responsible in any way for such information.</p>
        </div>

        <h4 class="terms_privacy_heading">9. E-mails from Website</h4>

        <div class="terms_privacy_body">
          <p>By becoming a User, you consent to receiving e-mail communications initiated by us and through us. If
            you change your email address, you may not receive notifications from us. If you do not wish to receive any of our e-mail communications, please do not use the Services. We have no plans to email you, but we may do so in the future from time to time.</p>
        </div>

        <h4 class="terms_privacy_heading">10. Online content</h4>

        <div class="terms_privacy_body">
          <p>The opinions, advice, statements, offers, or other information or content expressed on the Website by persons other than the Website are those of their respective authors, and should not necessarily be relied upon. Such authors are solely
            responsible for such content. We do not guarantee the accuracy, completeness, or usefulness of any information on the Website, and we do not adopt nor endorse, nor are we responsible for, the accuracy or reliability of any opinion, advice, or
            statement made by parties other than HitchRide or for any losses or damages arising from anyone’s reliance on such information. We reserve the right to remove any such material that in our discretion violates, or is alleged to violate, the law or
            this agreement or which might be offensive, illegal, or that might violate the rights, harm, or threaten the safety of Users or others.</p>

          <p>The Website may contain links to other web sites (“Third Party Sites”) as well as articles, photographs, text, graphics, pictures, designs, music, sound, video, information, applications, software and other content or items belonging to or
            originating from third parties (the “Third Party Applications, Software or Content ”). We do not investigate, check or monitor Third Party Sites and Third Party Applications, Software or Content for accuracy, appropriateness, or completeness. We are
            not responsible for any Third Party Sites accessed through the Website, or any content thereof. If you leave the Website to access Third Party Sites or to use or install any Third Party Applications, Software or Content, you do so at your own risk
            and HitchRide’s terms and policies no longer govern.</p>
        </div>

        <h4 class="terms_privacy_heading">11. Linking to this website</h4>

        <div class="terms_privacy_body">
          <p>You may link and share information between your User Profile and your experiences with the Website to any other social media or other web site, provided such links and information sharing: (i) are information regarding Website and your experience
            with Website, and (ii) are permitted by the site to which you are linking. Creating or maintaining any link from another website to any page on this Website other than as provided above without our prior written permission, however, is prohibited.
            Running or displaying this Website or any information or material displayed on this Website in frames or through similar means on another website without our prior written permission is prohibited. Any permitted links to this Website must comply
            will all applicable laws, rule and regulations.</p>
        </div>

        <h4 class="terms_privacy_heading">12. Third party links</h4>

        <div class="terms_privacy_body">
          <p>Occasionally this Website may contain links to websites that are not owned, operated or controlled by us or our affiliates. All such links are provided solely as a convenience to you. If you use these links, you will leave this
            Website. Neither we nor any of our respective affiliates are responsible for any content, materials or other information located on or accessible from any other website. Neither we nor any of our respective affiliates endorse, guarantee, or make any
            representations or warranties regarding any other websites, or any content, materials or other information located or accessible from any other websites, or the results that you may obtain from using any other web sites. If you decide to access any
            other websites linked to or from this Website, you do so entirely at your own risk.</p>
        </div>

        <h4 class="terms_privacy_heading">13. Temporary unavailability and website downtime</h4>

        <div class="terms_privacy_body">
          <p>The Website may be temporarily unavailable for maintenance or other reasons. We assume no responsibility for any error, omission, interruption, deletion, defect, delay in operation or transmission, communications line
            failure, theft or destruction or unauthorized access to, or alteration of, User communications as a result of such unavailability. We are not responsible for any technical malfunction or other problems of any telephone network or service,
            computer systems, servers or providers, computer or mobile phone equipment, software, failure of email or players on account of technical problems or traffic congestion on the Internet, on the Website, or on any web site or any combination thereof,
            including injury or damage to User's or to any other person's computer, mobile phone, or other hardware or software, related to or resulting from using or downloading materials in connection with the Web and/or in connection with the Services.</p>
        </div>

        <h4 class="terms_privacy_heading">14. Inappropriate information</h4>

        <div class="terms_privacy_body">
          <p>In addition to any remedies that we may have at law or in equity, if we determine, in our sole discretion, that you have posted, communicated or participated in the posting or communication of Inappropriate Information, we may take any action we
            deem necessary to cure or prevent the violation, including without limitation, the immediate removal of the related materials from this Website. We will fully cooperate with any law enforcement authorities or court order or subpoena requesting or
            directing us to disclose the identity of anyone posting such materials.</p>
        </div>

        <h4 class="terms_privacy_heading">15. Release</h4>

        <div class="terms_privacy_body">
          <p>In the event that you have a dispute with one or more Users, you agree to release website, and its officers, directors, employees, shareholders, agents and representatives, from any and all claims, allegations, demands, losses, injuries, costs,
            fees, expenses and damages of every and any kind and nature, known or unknown, suspected or unsuspected, and disclosed or undisclosed, arising out of or in any way related to such disputes.</p>

          <p>If you are a California resident, you waive California Civil Code Section 1542, which says: “A general release does not extend to claims which the creditor does not know or suspect to exist in his favor at the time of executing the release, which,
            if known by him must have materially affected his settlement with the debtor."</p>
        </div>

        <h4 class="terms_privacy_heading">16. Disclaimers and limitations of liability</h4>

        <div class="terms_privacy_body">
          <p>OUR SERVICE AND ALL CONTENT AND SOFTWARE ASSOCIATED THEREWITH, OR ANY OTHER FEATURES OR FUNCTIONALITIES ASSOCIATED WITH THE NETFLIX SERVICE, ARE PROVIDED "AS IS" AND "AS AVAILABLE" WITH ALL FAULTS AND WITHOUT WARRANTY OF ANY KIND. NETFLIX DOES NOT GUARANTEE, REPRESENT, OR WARRANT THAT YOUR USE OF THE SERVICE WILL BE UNINTERRUPTED OR ERROR-FREE. WE SPECIFICALLY DISCLAIMS LIABILITY FOR THE USE OF APPLICATIONS, AND OUR SOFTWARE (INCLUDING THEIR CONTINUING COMPATIBILITY WITH OUR SERVICE).</p>

          <p>TO THE EXTENT PERMISSIBLE UNDER APPLICABLE LAWS, IN NO EVENT SHALL WEBSITE, OR ITS SUBSIDIARIES OR ANY OF THEIR SHAREHOLDERS, DIRECTORS, OFFICERS, EMPLOYEES OR LICENSORS BE LIABLE (JOINTLY OR SEVERALLY) TO YOU FOR PERSONAL INJURY OR ANY SPECIAL, INCIDENTAL, INDIRECT OR CONSEQUENTIAL DAMAGES OF ANY KIND, OR ANY DAMAGES WHATSOEVER.</p>

          <p>WE DO NOT CLAIM AND DO NOT PROMISE ANY SPECIFIC RESULTS FROM USING THE WEBSITE, OR ANY OF OUR SERVICES.</p>

          <p>SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF CERTAIN WARRANTIES OR THE LIMITATION OR EXCLUSION OF LIABILITY FOR CERTAIN TYPES OF DAMAGES. THEREFORE, SOME OF THE ABOVE LIMITATIONS IN THIS SECTION MAY NOT APPLY TO YOU.</p>

          <p>NOTHING IN THESE TERMS OF USE SHALL AFFECT ANY NON-WAIVABLE STATUTORY RIGHTS THAT APPLY TO YOU.</p>

          <p>THIS WEBSITE, AND THE INFORMATION, MATERIALS AND SERVICES ON THIS WEBSITE ARE PROVIDED “AS IS” AND WITHOUT WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED. TO THE FULLEST EXTENT PERMISSIBLE PURSUANT TO APPLICABLE LAW, HITCHRIDE DISCLAIMS ALL
            WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. HITCHRIDE DOES NOT REPRESENT OR WARRANT THAT THE INFORMATION, MATERIALS, PRODUCTS,
            SERVICES OR FUNCTIONS PROVIDED ON OR THROUGH THIS WEBSITE WILL BE COMPLETE, ACCURATE, UP TO DATE, UNINTERRUPTED OR ERROR-FREE, THAT THE DEFECTS WILL BE CORRECTED, OR THAT THIS WEBSITE AND OR THE SERVER THAT MAKES THIS WEBSITE AVAILABLE ARE FREE OF
            VIRUSES OR OTHER HARMFUL COMPONENTS. HITCHRIDE DOES NOT MAKE ANY WARRANTEES OR REPRESENTATIONS REGARDING THE USE OF THE MATERIALS IN THIS SITE IN TERMS OF THEIR CORRECTNESS, ACCURACY, ADEQUACY, USEFULNESS, TIMELINESS, RELIABILITY OR OTHERWISE.</p>

          <p>WE DO NOT INVESTIGATE, CONDUCT BACKGROUND CHECKS, EVALUATE OR OTHERWISE SCREEN USERS WHO USE OUR WEBSITE. AS A RESULT, WE ARE NOT LIABLE FOR ANY DAMAGES, WHETHER DIRECT, INDIRECT, CONSEQUENTIAL OR INCIDENTAL, ARISING OUT OF YOUR USE OF THE WEBSITE
            OR THE SERVICES PROVIDED THEREIN.</p>

          <p>NOTWITHSTANDING ANYTHING TO THE CONTRARY CONTAINED IN THIS AGREEMENT, YOU AGREE AND ACKNOWLEDGE THAT OUR MAXIMUM LIABILITY TO YOU IS LIMITED TO $15.</p>

          <p>THE DISCLAIMERS AND LIMITATIONS ON LIABILITY SET FORTH IN THIS PARAGRAPH ARE ENFORCEABLE TO THE FULLEST EXTENT PERMITTED UNDER APPLICABLE LAW. CERTAIN STATE’S LAWS MAY NOT RECOGNIZE OR OTHERWISE MAY LIMIT SOME OF THE DISCLAIMERS AND LIMITATIONS OF
            LIABILITY SET FORTH HEREIN. IF SO, YOU MAY HAVE ADDITIONAL RIGHTS.</p>

        </div>

        <h4 class="terms_privacy_heading">17. Indemnification</h4>

        <div class="terms_privacy_body">
          <p>You shall defend, indemnify, and hold harmless HitchRide and any of its officers, directors, employees, agents, shareholders and representatives for any losses, damages, judgments, orders, costs, liabilities and expenses (including without
            limitation reasonable attorneys’ fees and expert fees) relating to or arising out claims or allegations brought by third parties related to or arising out of Your use of the Service, including, without limitation, the following: (i) your breach or
            repudiation of any obligations, representations or warranties set forth in this Agreement or documents; (ii) your violation of any criminal law or any civil law, rule or regulation, including without limitation applicable state motor vehicle laws;
            (iii) your violation of any third party’s rights under applicable law, including without limitation infringement of a third party’s intellectual property rights; (iv) death, bodily injury or other damage to person, or damage to property caused by
            your conduct or omissions. This indemnity shall apply without regard to the negligence of any party, including any indemnified person. We reserve the right to retain additional counsel to represent us at our own cost and expense.</p>
        </div>

        <h4 class="terms_privacy_heading">18. Notices</h4>

        <div class="terms_privacy_body">
          <p>We may deliver notices to you by means of e-mail, a general notice on the Website, or by other reliable method to the address you have provided to us.</p>
        </div>

        <h4 class="terms_privacy_heading">19. Choice of law</h4>

        <div class="terms_privacy_body">
          <p>These Terms of Use supersede any other agreement between you and HitchRide to the extent necessary to resolve any inconsistency or ambiguity between the agreements. These Terms of Use will be governed by and construed in accordance with the
            substantive and procedural laws of the State of New York, without giving effect to any principles of conflicts of laws. A printed version of these Terms of Use will be admissible in judicial and administrative proceedings based upon or relating to
            these Terms of Use to the same extent and subject to the same conditions as other business documents and records originally generated and maintained in printed form.</p>
        </div>

        <h4 class="terms_privacy_heading">20. Binding arbitration for disputes</h4>

        <div class="terms_privacy_body">
          <p>Any legal disputes or claims arising out of or related to the Agreement or use of the Website or Services that we cannot resolve through negotiated means exclusively shall be submitted for binding arbitration in New York County, New York. The
            arbitration shall be conducted by the American Arbitration Association under its Commercial Arbitration Rules using a single arbitrator, unless otherwise mutually agreed. Any judgment on the award rendered by the arbitrator may be entered in any
            court having jurisdiction thereof, and shall be final and binding. Vlaims shall be brought within the limitations period required by applicable law. Any claim, action or proceeding arising out of or related to the Agreement that you bring must be
            brought in your individual capacity, and not as a plaintiff or class member in any purported class, collective, or representative proceeding. YOU ACKNOWLEDGE AND AGREE THAT YOU ARE WAIVING YOUR RIGHTS TO (1) BRING A LEGAL ACTION IN COURT (2) HAVE
            YOUR DISPUTE RESOLVED BY A JUDGE OR JURY, AND (3) PARTICIPATE AS A PLAINTIFF OR CLASS MEMBER IN ANY PURPORTED CLASS ACTION OR REPRESENTATIVE PROCEEDING.</p>
        </div>

        <h4 class="terms_privacy_heading">21. Termination</h4>

        <div class="terms_privacy_body">
          <p>We may suspend or terminate your account or your use of this Website, cancel your registration, and/or remove your profile and any content posted by or about you on the Website at any time, for any reason or for no reason. You are personally
            liable for any charges incurred through your account prior to termination. We reserve the right to change, suspend, or discontinue all or any aspect of this Website at any time without notice. If we terminate your registration, we have no obligation
            to notify you of the reason, if any, for your termination. Following any such suspension or termination, we reserve the right to send a notice thereof to any other Users with whom we believe the individual has corresponded. In the event we terminate
            or suspend your account, you agree and acknowledge that you shall not open one or more additional accounts through Website using a different name or identity, nor shall you cause someone else to do so acting on your behalf.</p>
        </div>

        <h4 class="terms_privacy_heading">22. Domestic use; Export restriction</h4>

        <div class="terms_privacy_body">
          <p>We make no representation that the Website, or their content (including, without limitation, any services available on or through the Website) are appropriate or available for use in other locations. Users who access the Website from outside the
            United States of America do so on their own initiative and must bear all responsibility for compliance with local laws, if applicable. Further, the United States export control laws prohibit the export of certain technical data and software to
            certain territories. No content from the Website may be downloaded in violation of applicable law.</p>
        </div>

        <h4 class="terms_privacy_heading">23. No agency</h4>

        <div class="terms_privacy_body">
          <p>Nothing in this Agreement, or in your use of the Website, shall create between us a partnership, joint venture, employer-employee relationship, or franchisor-franchisee relationship. We have no relationship whatsoever with you, but if you think you can help or in anyway improve the service, feel free to <a href="/about#contact">contact us</a>.</p>
        </div>

        <h4 class="terms_privacy_heading">24. Miscellaneous provisions</h4>

        <div class="terms_privacy_body">
          <p>The section titles in these Terms of Use are for convenience only and have no legal or contractual effect. All provisions of these Terms of Use that by their nature should survive termination shall survive termination, including without
            limitation, provisions related to trademark, copyright, intellectual property, governing law, disclaimer, limitation of liability, indemnification and these miscellaneous provisions. Our failure to exercise or enforce any right or provision of these
            Terms of Use shall not constitute a waiver of such right or provision. If any provision of these Terms of Use is found by an arbitrator or court of competent jurisdiction to be invalid, the parties hereto nevertheless agree that such arbitrator or
            court should endeavor to give effect to the parties’ intentions as reflected in the provision, and the other provisions of these Terms of Use will remain in full force and effect. Our failure to exercise or enforce any right or provision of these
            Terms of Use shall not constitute a waiver of such right or provision by us. If any provision of these Terms of Use is found by a court of competent jurisdiction to be invalid, the parties nevertheless agree that the court should endeavor to give
            effect to the parties’ intentions as reflected in the provision, and the other provisions of our Terms of Use remain in full force and effect.
          <br>
          24.1. Governing Law. These Terms of Use shall be governed by and construed in accordance with the laws of the state of Delaware, U.S.A. without regard to conflict of laws provisions. These terms will not limit any consumer protection rights that you
          may be entitled to under the mandatory laws of your state of residence.
          <br>
          24.2. Unsolicited Materials. We accept unsolicited materials regarding website content. We are not responsible for the similarity of any of its content or programming in any media to materials or ideas
          transmitted to us. Should you send any unsolicited materials or ideas, you do so with the understanding that no additional consideration of any sort will be provided to you, and you are waiving any claim against us and our affiliates regarding the
          use of such materials and ideas, even if material or an idea is used that is substantially similar to the material or idea you sent.
          <br>
          24.3. Feedback. Website is free to use any comments, information, ideas, concepts, reviews, or techniques or any other material contained in any communication you may send to us (&quot;Feedback&quot;), including responses to questionnaires or through postings
          to the Service, including the Website and user interfaces, worldwide and in perpetuity without further compensation, acknowledgement or payment to you for any purpose whatsoever including, but not limited to, developing, manufacturing and marketing
          products and creating, modifying or improving the Service. In addition, you agree not to enforce any "moral rights" in and to the Feedback, to the extent permitted by applicable law.
          <br>
          24.4. Customer Support. To find more information about our service and its features, or if you need assistance with your account,  we invite you to e-mail us at
            <a href="mailto:support@movierecommendtionswithml.com">support@movierecommendtionswithml.com</a> or via our <a href="/about#contact">contact form</a>. In the event of any conflict between these Terms of Use and information provided by Customer Service or other portions of our website, these Terms of Use will control.
          <br>
          24.5. Survival. If any provision or provisions of these Terms of Use shall be held to be invalid, illegal, or unenforceable, the validity, legality and enforceability of the remaining provisions shall remain in full force and effect.
          <br>
          24.7. Communication Preferences. We will send you information relating to your account in electronic form only, for example via emails to
          your email address provided during registration. You agree that any notices, agreements, disclosures or other communications that we send to you electronically will satisfy any legal communication requirements, including that such communications be
          in writing.
        </p>
      </div>

      <h4 class="terms_privacy_heading">25. Additional assistance</h4>

      <div class="terms_privacy_body">
        <p>If you do not understand any of the foregoing Terms of Use or if you have any questions or comments, we invite you to e-mail us at
          <a href="mailto:support@movierecommendtionswithml.com">support@movierecommendtionswithml.com</a> or via our <a href="/about#contact">contact form</a>.</p>
      </div>
    </div>
    <!-- end .col-xs-12 -->

  </div>
  <!-- end .row -->

</div>
<!-- end .container -->

</section>
