<h2>Sign up</h2>
<div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <h4>So glad you want movie recommendations!</h4>
        <div class="card card-signin my-5">
            <div class="card-body">
                <h5 class="card-title text-center">Sign Up</h5>
                <form class="form-signin">
                    <div class='row'>
                        <div class='col-sm-12'>
                            <div class='textcenter'>
                                <%= link_to image_tag('facebooksignup.png', style: 'height: 50px;'), omniauth_authorize_path(:user, :facebook, intent: 'sign_up'), class: 'btn tng-lg btn-facebook btn-block text-uppercase', 'data-text': 'SIGN UP'%>

                                <br/>
                                <p>We use Facebook to keep everyone real. We will never post on your behalf.</p>
                            </div>
                        </div>

                        <div class='col-sm-12' style='padding-top: 50px;'>
                            <p class='textcenter'>By signing up, you agree to the <%= link_to 'Terms of Use', terms_path %> and <%= link_to 'Privacy Policy', privacy_path %>.
                            <br> Please learn more <%= link_to 'here', about_path %></p>

                        </div><!-- end col-sm-12-->
                    </div><!-- end .row -->

                    <hr>
                </form>
            </div><!-- end card-body -->
        </div><!-- end card card-signin my-5 -->
        </div><!-- end col-sm-9 col-md-7 col-lg-5 -->
    </div><!-- end .row -->
