<h1>Movies</h1>
<% if @movies.try(:any?) %>
    <div class="row">
        <%= render 'partials/per_page' %>
    </div>
    <div class="row">
        <div class="card-columns">
          <% @movies.each do |movie| %>
            <%= render 'partials/movie', movie: movie, user_reviews: @user_reviews %>
          <% end %>
        </div>
    </div>
    <div class="row">
        <%= pagy_nav_compact_bootstrap(@pagy).html_safe %>
    </div>
<% else %>
    <article class="single-from-blog">
        <div class="blog-title">
            <h2>No movies available yet</h2>
        </div>
    </article>
<% end %>
