<% @movies.each do |movie| %>
    <% if movie.poster_path.present? %>
        <div class="col">
            <div class="card">
                <%= link_to movie_path(movie) do %>
                    <%= image_tag('http://image.tmdb.org/t/p/w300_and_h450_bestv2/' + movie.poster_path) %>
                <% end %>
                <div class="rating">
                    <div class="row">
                        <p class="card-text">
                        <!--TODO add the actual rating that the user has given -->
                        <% if current_user.reviews.where(movie: movie).exists? %>
                            Reviewed
                        <% else %>
                            <%= render 'partials/add-review', movie: movie %>
                        <% end %>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
<% end %>

