<div class="col-xs-6 col-md-6">
    <%= link_to movie_like_path(movie.id), class: 'tooltip-link', 'data-original-title': 'Like', 'data-toggle': 'tooltip', method: :get do %>
        <%= fa_icon "thumbs-up" %> <strong>Like</strong>
    <% end  %>
</div>
<div class="col-xs-6 col-md-6">
    <%= link_to movie_dislike_path(movie.id), class: 'tooltip-link', 'data-original-title': 'Like', 'data-toggle': 'tooltip', method: :get do %>
        <%= fa_icon "thumbs-down" %> <strong>Dislike</strong>
    <% end  %>
</div>
