<% @reviews.each_with_index do |review, index| %>
  <div class="card">
    <%= link_to movie_path(review.movie) do %>
    <%= image_tag('http://image.tmdb.org/t/p/w300_and_h450_bestv2/' + review.movie.poster_path) %>
  <% end %>
  <%= render 'partials/rating', review: review%>

</div>
<!-- End card -->
<% end %>
