<section class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-sub-title textcenter">
                    <h2>Contact</h2>
                    <div class="line"></div>
                </div><!-- end .page-sub-title -->

            </div><!-- end .col-xs-12 -->

            <div class="col-md-9 col-xs-12">

                <div class="page-content">

                    <%= render 'partials/contact_us' %>


                </div><!-- end .page-content -->

            </div><!-- end .col-md-9 -->

        </div><!-- end .row -->
    </div><!-- end .container -->

</section><!-- end .main-content -->
