<html>
<body>
    <div class="body-pane" style="background:white;font-family:BasisGrotesqueMedium, Avenir-Medium, HelveticaNeue-Medium, 'Roboto Medium', sans-serif;font-size:16px;color:#231f20">
        <table width="100%">
            <tr>
                <td align="center">
                    <div class="main-table" style="width:440px;margin:0 auto;background:white;padding-top:45px;">
                        <table class="main-table" width="420" border="0" cellspacing="0" cellpadding="0" style="margin:0;border-color:#231f20;border-style:solid;border-width:2px 2px 0 2px;border-bottom-color:white">
                            <tr>
                                <td style="width:416px;padding:30px 0 0">
                                </td>
                            </tr>
                        </table>
                        <table class="main-table" width="420" border="0" cellspacing="0" cellpadding="0" style="margin:0;border-color:#231f20;border-style:solid;border-width:0 2px 0 0;border-bottom-color:white">
                            <tr>
                                <td align="left" style="width:416px">
<!--                                     <a href="https://turo.com/" style="display:block">
                                        <img class="header-image" style="display:block" src="**** TEST ****" alt="Turo" title="Turo" width="82">
                                    </a> -->
                                </td>
                            </tr>
                        </table>
                        <table class="main-table" width="420" border="0" cellspacing="0" cellpadding="0" style="margin:0;border-color:#231f20;border-style: solid;border-width: 0 2px 2px 2px;border-top-color:white">
                            <tr>
                                <td style="padding:28px">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td align="center">
                                                <h3>
                                                    <span style="display:inline-block;padding-bottom:7px;font: normal 36px 'Cookie', cursive;font-size:32px;color:#00D9A5;line-height:36px;font-weight:bold">
                                                        Movie Recommendations With ML
                                                    </span>
                                                </h3>
                                                <br/>
                                                <p>
                                                    <span style="display:inline-block;padding-bottom:7px;font-family:Plantin, AvenirNextCondensed-Bold, HelveticaNeue-CondensedBold, 'Roboto Condensed Bold', sans-serif;text-transform:uppercase;font-size:32px;color:#231f20;line-height:36px;font-weight:bold">
                                                        Password Reset
                                                    </span>
                                                </p>

                                                <p>Hi <%= @resource.name %>,</p>

                                                <p>We’ve received a request to reset your password.</p>

                                                <p>To reset your password, please click the button below</p>

                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td align="center" width="100%">
                                                            <table style="padding-bottom:20px" border="0" cellspacing="0" cellpadding="0">
                                                                <tr>
                                                                    <td align="center" bgcolor="#00D9A5">
                                                                      <%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token), style: "font-size: 18px; font-family: BasisGrotesqueBold, BasisGrotesqueMedium, AvenirNext-Bold, HelveticaNeue-Bold, 'Roboto Bold', sans-serif; font-weight:bold; color: white; text-decoration: none; padding: 8px 20px; border: 1px solid #00D9A5; display: inline-block;" %>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr>
												                              <td align="center" style="padding-top: 20px;border-top:2px solid #e7e7e7">
												                                If you didn't make this request, you can ignore this email. If you suspect abuse, please <strong>
                                                        <%= link_to 'Contact Us', about_url + '#contact', class: "ui-button-text button-text", title: "Feedback", style: "color:#5ed28b;text-decoration:none" %>.
												                              </td>
												                          </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                    <img src=""/>
                                </td>
                            </tr>
                        </table>
                        <table class="main-table" width="420" border="0" cellspacing="0" cellpadding="0">
                            <tr height="50">
                                <td align="center" style="padding:32px 0 20px 0">Movie Recommendations with ML</td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
